<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DocDrop</title>

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css}"/>
</head>
<body>

<!-- Create folder "|/browse/${file.id}|" -->
<form method="post"
      th:action="${create_folder_url}">
    <div class="form-group row">
        <label for="name" class="col-sm-1 col-form-label">File</label>
        <div class="col-sm-3">
            <input type="text" name="name" id=name class="form-control"/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-1"></div>
        <!-- give it the alert class, so enough room for feedback (alert) message -->
        <div class="col-sm-3 alert">
            <button type="submit" class="btn btn-primary">Create folder</button>
            <span th:text="${folder_error}" th:if="${folder_error ne null}"
                  class="alert alert-warning">
                Error
            </span>
            <span th:text="${folder_message}" th:if="${folder_message ne null}"
                  class="alert alert-success">
                Success
            </span>
        </div>
    </div>
</form>

<!-- Upload file -->
<form method="post" th:action="${upload_url}" enctype="multipart/form-data">
    <p th:text="${error}" th:if="${error ne null}"></p>
    <div class="form-group row">
        <label for="file" class="col-sm-1 col-form-label">File</label>
        <div class="col-sm-3">
            <input type="file" name="file" id="file" class="form-control"/>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-1"></div>
        <!-- give it the alert class, so enough room for feedback (alert) message -->
        <div class="col-sm-3 alert">
            <button type="submit" class="btn btn-primary">Upload Document</button>
            <span th:text="${upload_error}" th:if="${upload_error ne null}"
                  class="alert alert-warning">
                Error
            </span>
            <span th:text="${upload_message}" th:if="${upload_message ne null}"
                  class="alert alert-success">
                Success
            </span>
        </div>
    </div>
</form>

<div class="alert">
    <span th:text="${delete_message}" th:if="${delete_message ne null}" class="alert alert-success">
        message
    </span>
</div>

<!-- Bread crumb -->
<span>
    <a href="/files">root</a>
    <span th:each="folder : ${path}">
        / <a th:href="|/files/${folder.id}|" th:text="${folder.name}"> folder </a>
    </span>
</span>

<!-- File browser -->
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col" width="100px"></th>
        <th scope="col">Name</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${files}">
        <td>
            <span th:unless="${file.isFolder}">
                <img th:src="|/files/download/${file.id}/thumbnail|" height="100px"/>
            </span>
        </td>
        <td>
            <a th:if="${file.isFolder}" th:href="|/files/${file.id}|" th:text="${file.name}">
                open folder ...
            </a>

            <a th:unless="${file.isFolder}" th:href="|/files/download/${file.id}|"
               th:text="${file.name}">
                Download
            </a>
        </td>
        <td>
            <form method="post" action="/files/delete" enctype="multipart/form-data">
                <input type="hidden" name="fileId" th:value="${file.id}"/>
                <button type="submit" class="btn btn-warning">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>